.compare-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
}


.compare-item {
    background: #fff;
    border: 1px solid var(--line);
    border-radius: 18px;
    padding: 20px;
}


.compare-logo {
    font-size: 55px;
}


.compare-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 1px solid var(--line);
    padding: 13px 0;
    gap: 20px;
}


@media (max-width: 700px) {
    .compare-grid {
        grid-template-columns: 1fr;
    }
}